@use "sass:math";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@function calculate-rem($value, $base-width) {
  $result: math.div($value, $base-width) * 100;
  @return #{$result}vw;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: calculate-rem(10, 1920);

  @media (max-width: 1470px) {
    font-size: calculate-rem(10, 1470);
  }

  @media (max-width: 992px) {
    font-size: calculate-rem(10, 992);
  }

  @media (max-width: 768px) {
    font-size: calculate-rem(10, 768);
  }

  @media (max-width: 580px) {
    font-size: calculate-rem(10, 580);
  }

  @media (max-width: 460px) {
    font-size: calculate-rem(10, 460);
  }

  @media (max-width: 380px) {
    font-size: calculate-rem(10, 380);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.main {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 3.2rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;

  &__title {
    font-size: 3.2rem;
    font-weight: 600;

    @media (max-width: 580px) {
      font-size: 2.4rem;
    }

    @media (max-width: 460px) {
      font-size: 2rem;
    }
  }

  &-navigation {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    @media (max-width: 580px) {
      gap: 1.6rem;
    }

    @media (max-width: 460px) {
      gap: 1.4rem;
    }

    &__link {
      display: inline-block;
      width: fit-content;
      font-size: 2.4rem;
      transition-duration: 200ms;
      position: relative;

      @media (max-width: 580px) {
        font-size: 1.8rem;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0.2rem;
        background: #000;
        transition-duration: 200ms;
      }

      &:hover {
        &::after {
          content: "";
          width: 100%;
        }
      }
    }
  }
}